/* styles.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
}

.slider-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 800px;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 1s ease-in-out; /* Transición más lenta */
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  transition: transform 0.5s ease-in-out; /* Ajusta la duración y el tipo de transición */
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  cursor: pointer;
  border: none;
  background: none;
  color: #333;
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border-radius: 50%;
}

.prev-btn::before,
.next-btn::before {
  content: '\2190'; /* Código Unicode para la flecha izquierda */
}

.next-btn::before {
  content: '\2192'; /* Código Unicode para la flecha derecha */
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.prev-btn:hover,
.next-btn:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.slide:hover {
  transform: scale(1.1);
}

.slide::before {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  transition: transform 0.5s ease-in-out;
}

.slide:hover::before {
  transform: translate(-50%, -50%) scale(1);
}
